[
{server_id,23},
{server_name,"古蜀"},
{serverid_other,[]},
{server_sign,"1234567890"},
{server_version, 1},
{server_accept_client_version_min, 1},
{server_accept_client_max_count, 5},
{debug_level,6},

{db_gs, db_gs},
{db_gs_host, "192.168.2.51"},
{db_gs_port, 3307},
{db_gs_user, "username"},
{db_gs_pass, "username"},
{db_gs_name, "dragongamedata_dev"},


{db_log, db_log},
{db_log_host, "192.168.2.51"},
{db_log_port, 3307},
{db_log_user, "username"},
{db_log_pass, "username"},
{db_log_name, "dragongamelog_dev"},

{db_public, db_public},
{db_public_host, "192.168.2.51"},
{db_public_port, 3307},
{db_public_user, "username"},
{db_public_pass, "username"},
{db_public_name, "dragonlogindata_dev"},

{log_path,"../log/"},

{forreview, 0},
{server_open_timestamp, 0},
{server_open_award_days, 7},
{server_isonline,0}, %% 0不是外网版本、可以gm
{level_activity_flag,  true},

{pay_rebate_end_timestamp,  1400515200},

{tcp_accept_user_port, 6624},
{tcp_accept_user_ip, "192.168.2.251"},
{gameserver_display_name,"xjl_gs_win"},

{tcp_accept_gs_port,20012},
{tcp_accept_gs_ip,"192.168.2.251"},
{cross_server_flag, 0},
{self_node, 'gs_1@192.168.2.251'},
{cross_node, 'cross@192.168.2.251'},
{all_node,[]}
].
